body, input {
	font-family: monospace;
}

body {
	overflow: hidden;
}

#main {
	position: absolute;
	width: 100%;
	top: 1em;
	z-index: 1;
	background-color: white;
}

#slider {
	position: absolute;
	top: 11em;
	bottom: 0;
	width: 100%;
	overflow: auto;
	margin-top: 1.2em;
}

#main > div {
	display: inline-block;
	position: relative;
	vertical-align: text-top;
}

#albumart {
	width: 16em;
	height: 10em;
}

#albuminfo {
	float: left;
	display: block;
}

#ctrls {
	width: 8em;
	display: block;
	float: left;
	clear: left;
	margin-top: 2em;
}

#status {
	width: 24em;
	height: 6em;
	color: rgb(60, 100, 100);
}

#media {
    float: right;
}

#time {
    float: left;
}

#albumart > div {
	display: table;
	height: 100%;
	width: 100%;
	text-align: center;
}

#albumart > div > div {
    display: table-cell;
    vertical-align: middle;
}

#cover {
    border: 3px solid #AAA;
}

#albuminfo p {
	margin: 0;
}

#timebar {
    position: relative;
    top: 30px;
    height: 5px;
    border: rgb(60, 100, 100) 1px solid;
}

#innertimebar {
    border: 0px;
    background-color: rgb(80, 130, 130);
    width: 30%;
    height: 100%;
}

#slider > div {
    padding-top: 1.2em;
    position: absolute;
    left:0px;
    top:0px;
}

#mlib {
	width: 100%;
}

#mlib table {
	margin-top: 0.5em;
}

#mlib form {
	position: absolute;
	top: 0;
	width: 20em;
}

#listable td {
    border-width: 1px;
    border-style: solid;
    border-color: #AA8866;
}

#plistClear {
	position: absolute;
	top: 0;
	right: 0;
}

b {	/* buttons */
	cursor: pointer;
	margin-left: 0.2em;
}

td {
	padding-right: 1.5em;
}

td:last-child {
	padding-right: 0;
}
